.card h1 {
  font-size: 1.3em;
  font-weight: bolder;
}

.card {
  width: 350px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #202121;
  border: 1px solid #927f5e;
}

.card img {
  display: block;
  margin: 0 auto;
}

.card h1 {
  text-align: center;
}

.quantityField {
  width: 50px;
  text-align: center;
  appearance: none;
}

/* removes default add/remove arrows */
/* Chrome, Safari, Edge, Opera */
.quantityField::-webkit-outer-spin-button,
.quantityField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantityField[type="number"] {
  -moz-appearance: textfield;
}
