.nav {
  display: grid;
  height: 60px;
  place-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(82, 82, 82),
    rgb(32, 33, 33)
  );
}

.nav li {
  display: inline;
  margin: 0 20px;
  align-content: center;
}

.navButton {
  padding: 10px 30px;
  border: none;
  background-color: EEFBFF;
  /* taken from EFT website */
  clip-path: polygon(
    9px 0,
    calc(100% - 9px) 0,
    100% 0,
    100% calc(100% - 9px),
    calc(100% - 9px) 100%,
    9px 100%,
    0 100%,
    0 9px
  );
}

.populated {
  font-weight: bolder;
  color: red;
}
